@charset "UTF-8";
/* CSS Document */

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}


/* --------------------- Main Structure ------------------- */ 

html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: 'Open Sans', sans-serif !important;
   font-size: 14px;
   color: #000 !important;
}

#page-content {
   min-height:100%;
   position:relative;
   margin:0 auto;
}
#header {
   padding:10px;
   width:960px;
   margin:0 auto;
}
#primary {
   padding:10px;
	width:960px;
   margin:0 auto;
   background:#fff;

}
#footer {
   position:relative;
   bottom:0;
   width:100%;
   vertical-align:bottom;
   margin-top: 50px;
   background: #47108e; /* Old browsers */
background: -moz-linear-gradient(top, #47108e 0%, #b44a95 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#47108e), color-stop(100%,#b44a95)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #47108e 0%,#b44a95 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #47108e 0%,#b44a95 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #47108e 0%,#b44a95 100%); /* IE10+ */
background: linear-gradient(to bottom, #47108e 0%,#b44a95 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47108e', endColorstr='#b44a95',GradientType=0 ); /* IE6-9 */
  }

.home #footer {
	margin-top: 0;
}
  
#footerContent {
	width:960px;
	margin:0 auto;
   position:relative;
   color:#fff;
   padding:20px 0px;
   }
   
 #content {
	 margin:0 auto;
	width:960px;
 }

/* --------------------- Hierarchies ------------------- */ 

h1 {
	font-family: 'Open Sans', sans-serif;
	font-size:40px;
	font-weight:800;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-size:23px !important;
	font-weight:700 !important;
}

h3 {
	font-family: 'Open Sans', sans-serif;
	font-size:19px;
	font-weight:600;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size:15px !important;
	font-weight:600 !important;
}

h5 {
	font-family: 'Open Sans', sans-serif;
	font-size:13px;
	font-weight:600;
}

a {
	color:#47108e;
	font-weight:600;
	border:none;
}

/* --------------------- Index ------------------- */ 

#header #menu {
	text-align: center;
	font-size: 15px;
	color: #000;
	vertical-align: middle;
	line-height: 153px;
	padding-top: 66px;
}

#menu a {
	color:#000;
	text-transform:uppercase;
	text-decoration:none;
	cursor:pointer;
	font-weight: 700;
}

#menu a:hover {
	color:#47108e;
}

.main-navigation  a:active {
	color:#47108e;
	border-bottom:3px #47108e solid;
}

.main-navigation li {
	display:inline-block;
	margin-left:13px;
	margin-right:13px;
	vertical-align:middle;
	list-style:none;
	line-height:15pt;
	padding-bottom: 5px;
	border-bottom: 4px solid #FFF;	
}

#menu ul{
	vertical-align:middle;
	list-style:none;
}


.toolkit-home-item {
	text-align:center;
	font-size:15px;
	font-weight:400;
	margin-bottom:30px;
}

.mainText {
	font-size:26.5px;
	line-height:35px;
	margin-bottom:50px;
	padding-left:40px;
}

.toolkit-home-item  img {
	display:inline-block;
	margin-bottom:20px;
}

.toolkit-home-item:hover {
	opacity:0.7;
	cursor:pointer;
}

.toolkit-home-item h2{
	margin-top:10px;
	margin-bottom:20px;
}

#selectWrap {
	padding:40px 0px;
	text-align:center;
	background: #4374b7; /* Old browsers */
background: -moz-linear-gradient(top,  #4374b7 0%, #214184 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4374b7), color-stop(100%,#214184)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #4374b7 0%,#214184 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #4374b7 0%,#214184 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #4374b7 0%,#214184 100%); /* IE10+ */
background: linear-gradient(to bottom,  #4374b7 0%,#214184 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4374b7', endColorstr='#214184',GradientType=0 ); /* IE6-9 */
     -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
	margin-bottom:40px;
	margin-top:20px;
}

.select-text {
	color:#fff;
	text-align:left;
	margin-bottom:20px;
	font-size:24px;
	line-height:27px;
	display:inline-block;
	width:90%;
	
}

button {
	padding:10px 20px !important;
	border:2px #fff solid !important;
	font-weight:700 !important;
	text-align:center !important;
	display:inline-block !important;
	vertical-align:middle !important;
	background:none !important;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
	color:#fff !important;
	box-shadow: none !important;
	text-shadow: none !important;
}

button:hover {
	cursor:pointer;
	opacity:0.75;
}

#selectWrap select {
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 40px;
}

#selectWrap .selectContent {
	display:inline-block;
	width:auto;
	vertical-align:top;
}


#home-mapinfo {
	width:100%;
	padding:30px 0px;
	background:#b44a95 url(../images/world-01.png)no-repeat top center;
	/*height:280px;*/
	position:relative;
}

#home-mapinfo #content {
	width:960px;
	font-size:22px;
	color:#fff;
	line-height:26px;
	display:block;
	position:relative;
	margin:0 auto;
}

.home-maps-botonera {
	padding:20px 0px;
	margin-top:40px;
}

.home-maps-botonera button:hover {
	background:#fff;
	color:#b44a95;
}

#home-faqs {
	padding:50px 0px;
	line-height:20px;
	font-size:19px;
	margin-bottom:20px;
}

#home-faqs h2 {
	margin-bottom:20px !important;
	color:#47108e !important;
	display:block;
}

#home-faqs h4 {
	margin-bottom:5px !important;
	font-weight:700 !important;
	display:block;
	margin-top:22px !important;
}

#footerContent {
	vertical-align:top;
	padding-bottom:70px;
}

#footerContent ul {
	list-style:none;
	color:#fff;
	margin: 0;
}

#footerContent a {
color: #FFF;
font-weight: 400;
font-size: 15px;
line-height: 14px;
text-decoration: none;
}

#footerContent a:hover {
	text-decoration:underline;
	cursor:pointer;
}

#footerContent .grid_4,#footerContent .grid_8  {
	height:100px;
}

#footerContent .grid_4  {
	text-align:right;
}

.submenu {
	height: 33px;
	background: #fff url('../images/bg_menu.jpg') repeat-x;
	width: 100%;
	position: relative;
}

.submenu ul {
float:left;
width:100%;
padding:0;
margin:0;
list-style-type:none;
}

.submenu a {
float:left;
text-decoration:none;
color:white;
padding: 7px 5px 5px 0;
font-size: 14px;
margin-right: 45px;
font-weight: 600;
}

.submenu li {display:inline;}

.heading {
height: 145px;
width: 100%;
position: relative;
background-color: #53006D;
color: #FFF;
margin-bottom: 45px;
}	
	
.heading.basics {
	height: 223px;
	width: 100%;
	position: relative;
	background-color: #A8A9AD;
	color: #fff;
	margin-bottom: 47px;	

	background: #3d6aad; /* Old browsers */
	background: -moz-linear-gradient(top,  #3d6aad 0%, #224386 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3d6aad), color-stop(100%,#224386)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3d6aad 0%,#224386 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3d6aad 0%,#224386 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3d6aad 0%,#224386 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #3d6aad 0%,#224386 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6aad', endColorstr='#224386',GradientType=0 ); /* IE6-9 */
}

.heading.education {
	height: 223px;
	width: 100%;
	position: relative;
	background-color: #A8A9AD;
	color: #fff;
	margin-bottom: 47px;
background: #9628c6; /* Old browsers */
background: -moz-linear-gradient(top,  #9628c6 0%, #68297b 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9628c6), color-stop(100%,#68297b)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9628c6 0%,#68297b 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9628c6 0%,#68297b 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9628c6 0%,#68297b 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9628c6 0%,#68297b 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9628c6', endColorstr='#68297b',GradientType=0 ); /* IE6-9 */

}

.heading.goverment {
	height: 223px;
	width: 100%;
	position: relative;
	background-color: #A8A9AD;
	color: #fff;
	margin-bottom: 47px;	

background: #b42b6d; /* Old browsers */
background: -moz-linear-gradient(top,  #b42b6d 0%, #7d1c54 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b42b6d), color-stop(100%,#7d1c54)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b42b6d 0%,#7d1c54 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b42b6d 0%,#7d1c54 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b42b6d 0%,#7d1c54 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b42b6d 0%,#7d1c54 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b42b6d', endColorstr='#7d1c54',GradientType=0 ); /* IE6-9 */

}	

.heading.creative {
	height: 223px;
	width: 100%;
	position: relative;
	background-color: #A8A9AD;
	color: #fff;
	margin-bottom: 47px;

background: #ebd612; /* Old browsers */
background: -moz-linear-gradient(top,  #ebd612 0%, #b29c11 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebd612), color-stop(100%,#b29c11)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ebd612 0%,#b29c11 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ebd612 0%,#b29c11 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ebd612 0%,#b29c11 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ebd612 0%,#b29c11 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebd612', endColorstr='#b29c11',GradientType=0 ); /* IE6-9 */

}

.heading.science {
	height: 223px;
	width: 100%;
	position: relative;
	background-color: #A8A9AD;
	color: #fff;
	margin-bottom: 47px;	

background: #97c607; /* Old browsers */
background: -moz-linear-gradient(top,  #97c607 0%, #64800f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#97c607), color-stop(100%,#64800f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #97c607 0%,#64800f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #97c607 0%,#64800f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #97c607 0%,#64800f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #97c607 0%,#64800f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97c607', endColorstr='#64800f',GradientType=0 ); /* IE6-9 */

}

.heading.culture {
	height: 223px;
	width: 100%;
	position: relative;
	background-color: #A8A9AD;
	color: #fff;
	margin-bottom: 47px;	

background: #ed9321; /* Old browsers */
background: -moz-linear-gradient(top,  #ed9321 0%, #a76a11 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ed9321), color-stop(100%,#a76a11)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ed9321 0%,#a76a11 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ed9321 0%,#a76a11 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ed9321 0%,#a76a11 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ed9321 0%,#a76a11 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed9321', endColorstr='#a76a11',GradientType=0 ); /* IE6-9 */

}				

li.Basics a{
	background: transparent url('../images/i1.jpg') 0 0 no-repeat;
	padding-left: 40px;
}

li.Education a{
	background: transparent url('../images/i2.jpg') 0 0 no-repeat;
	padding-left: 47px;
}

li.Goverment a{
	background: transparent url('../images/i3.jpg') 0 0 no-repeat;
	padding-left: 34px;
}

li.Creative a{
	background: transparent url('../images/i4.jpg') 0 0 no-repeat;
	padding-left: 33px;
}

li.Science a{
	background: transparent url('../images/i5.jpg') 0 0 no-repeat;
	padding-left: 35px;
}

li.Culture a{
	background: transparent url('../images/i6.jpg') 0 0 no-repeat;
	padding-left: 35px;
}

.heading h1 {
padding-top: 37px;
font-size: 4em;
font-weight: 700;
line-height: 1em;
}

.btn {
display: block;
padding: 19px 10px 19px 67px;
text-decoration: none;
color: #FFF;
margin-bottom: 10px;
font-size: 17px;
font-weight: 600;

background: #3D6AAD;
background: -moz-linear-gradient(top, #3d6aad 0%, #224386 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3D6AAD), color-stop(100%,#224386));
background: -webkit-linear-gradient(top, #3D6AAD 0%,#224386 100%);
background: -o-linear-gradient(top, #3d6aad 0%,#224386 100%);
background: -ms-linear-gradient(top, #3d6aad 0%,#224386 100%);
background: linear-gradient(to bottom, #3D6AAD 0%,#224386 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d6aad', endColorstr='#224386',GradientType=0 );
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-khtml-border-radius: 5px;
border-radius: 5px;
}

.btn:hover, .btn:visited {
	color: #fff;
}

#logo img {
margin-left: -36px;
}

.home #logo img {
margin-left: 0px;
}

.big-icon {
background: rgba(0, 0, 0, 0) url('../images/basic_logo.png') right -41px no-repeat;
height: 223px;
opacity: 0.5;
}

.current-menu-item{
border-bottom: 4px solid #631F90 !important;
}

html {
margin-top: 0 !important;
}

.inner-pages {
	width: 800px;
}

.submenu a:hover, .submenu a:visited{
color: #FFF;
}

.heading span {
font-size: 1.04em;
margin: 14px 0;
font-weight: 400;
display: block;
font-style: italic;
}

.home p {
margin-bottom: 0;
line-height: 1.2em;
}

.licence, .licence a {
font-size: 13px !important;
}

.licence a {
	text-decoration: underline !important;
}

#primary h2 {
font-size: 34px !important;
line-height: 42px;
margin-bottom: 20px;
font-weight: 400 !important;
margin-top: 0;
}

.page-content, .entry-content, .entry-summary {
margin: 0 0 0 !important;
}

li blockquote {
margin: 0;
padding: 0;
line-height: 1em;
}

li blockquote {
    margin: 0;
    padding: 0;
    line-height: 1em;
}

.compelling-blocks li {

}

.download-contain {
    background-color: #F0F0F0;
    padding: 10px 10px 10px;
    font-size: 13px;
    color: #4E4E4E;
    margin-bottom: 30px;

     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;

}
.download-contain ul {
    margin: 0 0 0 28px;
    padding: 0;
}
.download-contain p {
    margin: 0 0 6px 8px;
}
.download-contain li {
    margin-bottom: 3px;
}

.video_container, .sd {
margin-bottom: 22px;
}

#primary h3 {
color: #31839B;
font-size: 22px;
font-weight: 600;
text-transform: uppercase;
margin-bottom: 15px;
}

.ref li {
    font-size: 11px;
    list-style-type: none;
    margin: 0 0 5px 0;
    padding: 0;
}
.ref {
    margin: 0 0 0 0px;
}

.video_container.first-video {
margin-top: 105px;
}
.sharedaddy.sd-sharing-enabled {
margin-top: 37px;
}

#primary blockquote {
margin: 0 1em;
font-family: georgia;
font-style: italic;
font-size: 18px;
}

#primary ol li {
    margin: 0 0 15px 0;
    padding: 0;
}
#primary ol {
    margin: 0;
    list-style-position: inside;
}

small {
font-size: 75%;
font-style: italic;
}

.entry-content a, .entry-content a:hover, .entry-content a:visited {
color: #224386;
}

.menu-old_menu-container {
    background-color: #1BB294;
    padding: 10px;
    display: inline-block;
    color: #FFFFFF;
}
.menu-old_menu-container li {
    margin-bottom: 10px;
    padding: 5px 5px 5px;
    list-style-type: none;
}
.menu-old_menu-container li li {
    margin-bottom: 0;
    list-style-type: disc;
    padding-left: 0;
}
.menu-old_menu-container .sub-menu {
    margin-top: 4px;
    margin-bottom: 4px;
}
.menu-old_menu-container .shortcode_menu {
    margin: 0 !important;
    padding: 0;
}
.menu-old_menu-container a {
    color: #FFFFFF !important;
    font-weight: 600;
    /* text-decoration: none; */
}

#selectWrap {
display: none;
}

.hide {
	display: none !important;
}

#menu-old_menu {
margin-left: 15px;
}


#menu-menu_hackaton .sub-menu {
margin: 6px 0 0 0;
padding: 0;
}

#menu-menu_hackaton {
margin-top: 65px;
margin-left: 42px;
}

.main-navigation ul ul li {
border: 0;
padding: 0;
}

.main-navigation ul ul li {
min-width: 80px;
margin: 0;
padding: 15px 50px 15px 5px;
border-bottom: 1px solid #732891;
}

.main-navigation ul ul a {
width: auto !important;
font-weight: 700 !important;
font-size: 13px;
border-bottom: 1px;
}

.main-navigation ul ul {
background-color: #FFF;
}

div.entry-content ul {
list-style: disc;
margin-left: 10px;
list-style-position: inside;
}

.events-list {
  list-style: none;
  margin: 0;
}
.events-list li {
  background-color: #F0F0F0;
  padding: 10px 10px 10px;
  font-size: 13px;
  color: #4E4E4E;
  margin-bottom: 30px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
.events-list p {
  font-size: 14px;
  margin: 0;
  clear: left;
}
.events-list figure {
  float: right;
  margin: 0 0 10px 10px;
}
.events-list h6 {
  font-weight: normal;
  margin-bottom: 10px;
}
.events-list h3 {
  color: #31839B;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.events-list h3 a {
  color: #31839B;
  text-decoration: none;
}
.events-list time {
  color: #333;
  font-style: italic;
  float: right;
  font-size: 16px;
  line-height: 36px;
  margin-right: 10px; 
}

.single-event figure {
  float: left;
  margin-right: 10px;
}

#header {
  position: relative;
}

.flags {
  list-style: none;
  margin: 0;
  position: absolute;
  right: 0;
  top: 10px;
}
.flags li {
  float: left;
  margin-left: 10px;
}
.flags li a {
  text-decoration: none;
  font-size: 12px;
  text-transform: uppercase;
  color: #666;
}
